@import "tailwindcss";

@theme {
  /* Cores personalizadas */
  --color-pers-primary: #ff6900;
  --color-pers-primary-hover: #f54900;
  --color-pers-secondary: #e6a52e;
  --color-pers-accent: #312c85;
  --color-pers-bg-light: #f9fafb;
  --color-pers-bg-dark: #101828;
  --color-pers-text-light: #828282;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-pers-bg-light);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--color-pers-bg-light);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--color-pers-bg-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-pers-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-pers-primary-hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-pers-secondary);
}
